body {
  font-family: "Roboto", sans-serif;
}


.headercss {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
}
.logocss {
  display: flex;
}
.weblogocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.studiologocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menucss {
  display: flex;
  gap: 50px;
}

.menucss li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menucss li,
a:hover {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #404bbf;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

/**.menustudiocss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menustudiocss:hover {
  font-size: 16px;
  color: #404bbf;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menuportfoliocss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menuportfoliocss:hover {
  font-size: 16px;
  color: #404bbf;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menucontactscss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

.menucontactscss:hover {
  font-size: 16px;
  color: #404bbf;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}**/

.addresscss {
  display: flex;
  gap: 50px;
}

.addresscssmail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscssmail:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #404bbf;
  text-decoration: none;
}

.addresscsstel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscsstel:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #404bbf;
  text-decoration: none;
}

.bannercss {
  background-color: #2e2f42;
  height: 600px;
}

.h1css {
  width: 496px;
  text-align: center;
  margin: 0 auto;
  padding-top: 160px;
}

.header1css {
  color: white;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1;
}

.btncss {
  padding-top: 10px;
  padding-left: 590px;
}

.buttoncss {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

.buttoncss:hover {
  width: 169px;
  height: 56px;
  background-color: #404bbf;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

.subjectscss {
  width: 1128px;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  gap: 10px;
}

.subjectscss li {
  list-style: none;
}

.contentcss {
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contentheaders {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ourteamcss {
  background-color: #f4f4fd;
  margin-top: 100px;
  height: 732px;
}
.ourteamcss li {
  list-style: none;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.ourteamheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-top: 30px;
}

.ourteamstaff {
  display: flex;
  justify-content: space-around;
}

/**
.markguerrerocss {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tomfordcss {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.camilagarciacss {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.danielwilsoncss {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}**/

/**.infocss {
  width: 232px;
  height: 56px;
}**/

.namecss {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.titlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  border: 1px solid #e7e9fc;
  width: 1128px;
  margin: 0 auto;
  margin-top: 120px;
}

.portfolio li {
  list-style: none;
  border-bottom: 1px solid #e7e9fc;
}
.portfolioGroup1 {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-right: 40px;
  margin-bottom: 30px;
}
.portfolioGroup2 {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-right: 40px;
}

.ourportfoliocss {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfoliofontcss {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.apptitlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img {
  width: 360px;
  height: 300px;
}

.footerbgcss {
  background-color: #2e2f42;
  height: 312px;
  margin-top: 120px;
}

.footerinfocss {
  padding: 100px;
}

.footerinfofontcss p {
  width: 264px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footerlogocss {
  display: flex;
  align-items: center;
}

.footerweblogocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footerstudiologocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
